---
import blossom from "../assets/blossom.svg";
---

<div class="flex justify-center py-10 fade-in fade-in-delay-5">
  <div class="flex flex-col items-center gap-5">
    <span class="text-evm-green-300 font-head">powered by Blossom</span>
    <a href="https://github.com/blossomlabs" target="_blank" rel="noreferrer">
      <img src={blossom.src} alt="Blossom" class="h-12" />
    </a>
  </div>
</div>
