---
import logo from "../assets/logo.svg";
---

<header class="flex flex-col items-center justify-center pt-32">
  <a href="/">
    <img src={logo.src} alt="EVMcrispr Logo" width="262" />
  </a>
</header>
