@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,300&display=swap");

body,
html,
#root {
  height: 100%;
  background: black;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
}

.App {
  height: 100%; /* remove this line to see div.app is no more 100% height */
  background: black;
  color: white;
  padding: 117px 0;
}

.content {
  max-width: 956px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-center-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.buttons {
  flex-direction: row;
  gap: 7px;
}

footer {
  padding: 56px 15px;
}

footer > label {
  font-size: 16px;
  color: #dffb4f;
  margin-bottom: 17px;
}

.button {
  background: #1818ab;
  padding: 10px 20px;
  color: #dffb4f;
  text-decoration: none;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: #dffb4f;
  background: #121212;
  transition: all 0.5s;
}

.button-success {
  background: #75f248;
  color: #121212;
}

.button-success:hover {
  color: #75f248;
  background: #121212;
  transition: all 0.5s;
}

.button-warning {
  background: #ed702d;
  color: #ffffff;
}

.button-warning:hover {
  color: #ed702d;
  background: #ffffff;
  transition: all 0.5s;
}

.version {
  font-size: 24px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-left: 15px;
  background: transparent;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .5em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  width: 350px;
  animation: 
    typing 2.5s steps(40, end)
}

/* The typing effect */
@keyframes typing {
  from { width: 0 ;border-color: #fff }
  to { width: 350px }
  99% {border-color: #fff}
  100% {border-color: transparent}
}

.buttons {
  margin: 0 0 70px;
}

.description {
  text-align: center;
  font-size: 24px;
  margin-top: 70px;
  margin-bottom: 70px;
  min-height: 165px;
}

.description strong {
  color: #75f248;
}

.sponsors {
  background-color: #181818;
  padding: 61px 15px;
}

.sponsors > label {
  margin-bottom: 34px;
  font-size: 16px;
}

.script-actions {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 13px;
}

.terminal-code {
  margin-bottom: 70px;
  margin-top: 70px;
}

.cards {
  margin-top: 70px;
  margin-bottom: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 65px;
}

.card {
  width: 255px;
  min-height: 200px;

  position: relative;
}

.card-content {
  padding: 25px;
  text-align: center;
  border: 4px solid #75f248;
  background: #000;
  z-index: 10;
  position: relative;
}

.card-content-wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card-name {
  margin-top: 20px;
  font-size: 15px;
  color: #75f248;
}

.card-info {
  font-size: 15px;
}

.card-description {
  font-size: 13px;
}

.card-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translate(25px, 25px);
  border: 5px solid #75f248;
}

.card-pixel {
  background: #000;
  position: absolute;
  height: 6px;
  width: 6px;
}

.card > div span:nth-child(1) {
  top: -5px;
  right: -5px;
}

.card > div span:nth-child(2) {
  bottom: -5px;
  right: -5px;
}

.card > div span:nth-child(3) {
  top: -5px;
  left: -5px;
}

.card > div span:nth-child(4) {
  bottom: -5px;
  left: -5px;
}

.slide-exit {
  transform: translate(-100%, 0%);
}
.slide-exit-active {
  transform: translate(-200%, 0%);
  transition: transform 500ms ease-in-out;
}

.Typewriter__cursor {
  color: #fff;
  background: #fff;
  margin-left: 5px !important;
  animation-duration: 0s !important;
}

@media only screen and (max-width: 600px) {
  .App {
    overflow-x: hidden;
  }

  .terminal-code,
  .buttons,
  .Typewriter {
    padding: 0 15px;
  }

  .content {
    width: 100%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .cards {
    padding: 0 15px 0 0;
    flex-direction: column;
  }

  .flex-center-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
